.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay a:hover {
  cursor: pointer;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.side-menu {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: left 0.3s ease;
}

.overlay.open .side-menu {
  left: 0;
}

.side-menu a, p {
  text-decoration: none;
  color: var(--basic-text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.side-menu a:hover {
  color: var(--primary-color);
}

.close-btn {
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  align-self: flex-end;
}